<!-- ======= TITLE SECTION ======= -->
<section>
    <div class="content-box">
        <h1>Commute Cost Calculator</h1>
    </div>
</section>

<!-- ======= INPUTS SECTION ======= -->
<section>
    <div class="content-box">
        <div class="Grid">
            <div class="Grid-cell">
                <h4>INPUTS</h4>
            </div>
            <div>
                <h4 title="Help" class="icon-button" ng-click="inputsHelpToggle = !inputsHelpToggle">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </h4>
            </div>
        </div>

        <div ng-if="inputsHelpToggle" class="help">
            <p><strong>What is this?</strong>  This calculator compares the total costs of driving from two origin address (two potential apartments, for example) and a destination (your job).  Upon hitting 'Calculate', the calculator will return a little bit of analysis and tables of each commutes costs.</p>

            <ul>
                <li>The input addresses can be as little as ZIP codes, but you will get more accurate measurements from more detailed inputs.</li>
                <li><em>OriginA</em> = origin A's address. This could be your current home address.</li>
                <li><em>OriginB</em> = origin B's address. This could be a home or apartment you are considering moving to.</li>
                <li><em>Destination</em> = The <em>destination</em> address, intended to be your work address.</li>
                <li><em>Mileage Rate</em> = The GSA/IRS federal mileage rate is intended to estimate the costs of operating a car. It represents the average per-mile cost of standard maintenance, repairs, taxes, gas, insurance, and registration fees. For 2016 the federal mileage rate is $0.54 per mile (<a href="https://www.irs.gov/uac/newsroom/2016-standard-mileage-rates-for-business-medical-and-moving-announced" target="_blank">IR-2015-137, Dec.17, 2015)</a>.
                </li>
                <li><em>Hourly Rate</em> = The federal mileage rate does not include your time, so we calculate that separately using the duration of the commute and your theoretical hourly wage. By default we assume your wage (what your free time is worth) to be $20 per hour. You can adjust this in the inputs section.</li>
                <li>Since this calculator is designed to model the costs of commuting to work, it is assumed that you will go home at the end of the day. Thus, the tabular results displayed are ROUND TRIP values.</li>
            </ul>
        </div>


        <div class="Grid Grid--gutters Grid--full">
            <div class="Grid-cell InputAddOn">
                <span class="InputAddOn-item">Origin A</span>
                <input class="InputAddOn-field" tabindex="1" type="text" ng-model="vm.myObj.originA">
            </div>

            <div class="Grid-cell InputAddOn">
                <span class="InputAddOn-item">Origin B</span>
                <input class="InputAddOn-field" tabindex="2" type="text" ng-model="vm.myObj.originB">
            </div>

            <div class="Grid-cell InputAddOn">
                <span class="InputAddOn-item">Destination</span>
                <input class="InputAddOn-field" tabindex="3" type="text" ng-model="vm.myObj.destination">
            </div>
        </div>
        <div class="Grid Grid--gutters Grid--full med-Grid--1of3">

            <div class="Grid-cell InputAddOn">
                <span class="InputAddOn-item">Mileage Rate ($)</span>
                <input class="InputAddOn-field" tabindex="4" type="number" min="0.01" max="10.00" step="0.01" ng-model="vm.myObj.mileageRate">
            </div>

            <div class="Grid-cell InputAddOn">
                <span class="InputAddOn-item">Hourly Rate ($)</span>
                <input class="InputAddOn-field" tabindex="5" type="number" min="7.25" max="100.00" step="0.01" ng-model="vm.myObj.hourlyRate">
            </div>

            <div class="Grid-cell InputAddOn">
                <button class="inputButton" tabindex="6" type="submit" ng-click="vm.calcCommute(vm.myObj.originA, vm.myObj.originB, vm.myObj.destination)">
                    Calculate
                </button>
            </div>

        </div>
    </div>
</section>

<!-- ======= RESULTS SECTION ======= -->
<section ng-if="vm.myObj.responseObject">
    <div class="content-box">
        <h4>Analysis</h4>
        <p>Given the two origin addresses input above, commuting from {{ vm.myObj.closerOrigin.address }} will save you approximately {{ vm.myObj.costDiff | currency }} per month. This means that, in theory, you should be willing to pay up to {{ vm.myObj.costDiff | currency }} more per month (rent, mortgage, property taxes, etc.) to live at {{ vm.myObj.closerOrigin.id }}.</p>
    </div>
</section>

<section ng-if="vm.myObj.responseObject">
    <!-- TABLES -->
    <div class="Grid Grid--gutters Grid--full small-Grid--1of2">

        <!-- TABLE A -->
        <div class="Grid-cell">
            <div class="content-box">
                <p>Round-trip from {{vm.myObj.originA}} to {{vm.myObj.destination}}:</p>

                <table>
                    <thead>
                        <tr>
                            <th>Per</th>
                            <th>Duration
                                <br />(hours)</th>
                            <th>Distance
                                <br />(miles)</th>
                            <th>Auto
                                <br />Costs</th>
                            <th>Time
                                <br />Costs</th>
                            <th>Total
                                <br />Costs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="n in vm.myObj.commuteArrA">
                            <td>{{ n.per }}</td>
                            <td>{{ n.time | number:2 }} </td>
                            <td>{{ n.dist | number:2 }} </td>
                            <td>{{ n.carCost | currency }}</td>
                            <td>{{ n.timeCost | currency }}</td>
                            <td>{{ n.carCost + n.timeCost | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- TABEL B -->
        <div class="Grid-cell">
            <div class="content-box">
                <p>Round-trip from {{vm.myObj.originB}} to {{vm.myObj.destination}}:</p>

                <table>
                    <thead>
                        <tr>
                            <th>Per</th>
                            <th>Duration
                                <br />(hours)</th>
                            <th>Distance
                                <br />(miles)</th>
                            <th>Auto
                                <br />Costs</th>
                            <th>Time
                                <br />Costs</th>
                            <th>Total
                                <br />Costs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="n in vm.myObj.commuteArrB">
                            <td>{{ n.per }}</td>
                            <td>{{ n.time | number:2 }} </td>
                            <td>{{ n.dist | number:2 }} </td>
                            <td>{{ n.carCost | currency }}</td>
                            <td>{{ n.timeCost | currency }}</td>
                            <td>{{ n.carCost + n.timeCost | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>