<!-- ===================== TITLE SECTION ====================== -->
<section>
    <div class="content-box">
        <div class="Grid">
            
            <div class="Grid-cell">
                <h1>Portfolio</h1>
            </div>
            
            <div>
                <h1 title="Save your input data" class="icon-button" ng-click="vm.pfMethods.saveState()">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </h1>
                <h1 title="Erase your input data" class="icon-button" ng-click="vm.pfMethods.deleteData()">
                    <span class="glyphicon glyphicon-floppy-remove"></span>
                </h1>
            </div>
            
        </div>
        
    </div>
</section>
<!-- =================== END TITLE SECTION ==================== -->

<!-- ===================== INPUTS SECTION ===================== -->
<section class=Grid-cell>
    <div class="content-box">

        <!-- inputs title -->
        <div class="Grid">
            <div class="Grid-cell">
                <h4>INPUTS</h4>
            </div>
            <div>
                <h4 title="Help" class="icon-button" ng-click="inputHelpToggle = !inputHelpToggle">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </h4>
            </div>
        </div>

        <!-- help -->
        <div ng-if="inputHelpToggle" class="help">
            <p>Input your portfolio components.</p>

            <ul>
                <li><em>Ticker</em> = The letter abbreviation for the investment.</li>
                <li><em>Shares</em> = The quantity of shares of each investment you own.</li>
            </ul>
        </div>

        <!-- Inputs -->
        <div class="Grid Grid--gutters Grid--1of4">
            <div class="Grid-cell InputAddOn">
                <span class="InputAddOn-item">Ticker</span>
                <input class="InputAddOn-field" tabindex="1" type="text" ng-model="vm.state.newTicker">
            
                <span class="InputAddOn-item">Value</span>
                <input class="InputAddOn-field" tabindex="2" type="number" ng-model="vm.state.newTickerValue">
                
                <span class="InputAddOn-item">Type</span>
                <select class="InputAddOn-field" tabindex="3" ng-model="vm.state.newTickerType">
                    <option value="Stock">Stock</option>
                    <option value="Bond">Bond</option>
                </select>
                
                <button class="inputButton" tabindex="4" type="submit" ng-click="vm.pfMethods.addInvestment(vm.state.newTicker, vm.state.newTickerValue, vm.state.newTickerType)">
                    Add
                </button>
            </div>
        </div>
        
        <!-- Advise source of input data -->
        <alert-message message="{{vm.portfolioDataSource}}"></alert-message>

    </div>
</section>


<section>
    <div class="content-box">
        <p>Holdings:</p>
        <div class="Grid Grid--gutters Grid--full small-Grid--1of3">
                <div class="Grid-cell InputAddOn" ng-repeat="e in vm.state.investments track by $index">
                    <span class="InputAddOn-item">Ticker</span>
                    <input class="InputAddOn-field" tabindex="5" type="text" ng-model="e.ticker">

                    <span class="InputAddOn-item">Value</span>
                    <input class="InputAddOn-field" tabindex="6" type="number" ng-model="e.value">
                    
                    <span class="InputAddOn-item">Type</span>
                    <input class="InputAddOn-field" tabindex="6" type="text" ng-model="e.type">
                    
                    <button class="inputButton" tabindex="7" type="submit" ng-click="vm.pfMethods.saveState()">
                        Update
                    </button>
                    
                    <button class="inputButton" tabindex="8" type="submit" ng-click="vm.pfMethods.deleteInvestment($index)">
                        Delete
                    </button>
                </div>
            </div>
        </div>
        
    </div>
</section>


<section>
    <div class="content-box">
        
        <p>Sum of asset class: Stocks {{ vm.pfMethods.sumInvestmentValue("Stock") }}</p>
        
        <p>Sum of asset class: Bonds {{ vm.pfMethods.sumInvestmentValue("Bond") }}</p>

        
    </div>
    
    
</section>