<!-- ===================== TITLE SECTION ====================== -->
<section>
    <div class="content-box">
        <div class="Grid">
            
            <div class="Grid-cell">
                <h1>Portfolio</h1>
            </div>
            
            <div>
                <h1 title="Save your input data" class="icon-button" ng-click="vm.pfMethods.saveState()">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </h1>
                <h1 title="Erase your input data" class="icon-button" ng-click="vm.pfMethods.deleteData()">
                    <span class="glyphicon glyphicon-floppy-remove"></span>
                </h1>
            </div>
            
        </div>
        
    </div>
</section>
<!-- =================== END TITLE SECTION ==================== -->

<!-- ===================== INPUTS SECTION ===================== -->
<section class=Grid-cell>
    <div class="content-box">

        <!-- inputs title -->
        <div class="Grid">
            <div class="Grid-cell">
                <h4>HOLDINGS</h4>
            </div>
            <div>
                <h4 title="Help" class="icon-button" ng-click="inputHelpToggle = !inputHelpToggle">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </h4>
            </div>
        </div>

        <!-- help -->
        <div ng-if="inputHelpToggle" class="help">
            <p>Input your portfolio components.</p>

            <ul>
                <li><em>Ticker</em> = The letter abbreviation for the investment.</li>
                <li><em>Shares</em> = The quantity of shares of each investment you own.</li>
            </ul>
        </div>

        <!-- Table -->
        <table>
            <thead>
                <th>Ticker</th>
                <th>Value</th>
                <th>Class</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="e in vm.state.investments track by $index">
                    <td>
                        <input class="" type="text" ng-model="e.ticker">
                    </td>
                    <td>
                        <input class="" type="number" ng-model="e.value">
                    </td>
                    <td>
                        <select name="class" tabindex="3" ng-model="e.type">
                            <option value="Stock">Stock</option>
                            <option value="Bond">Bond</option>
                        </select>
                    </td>
                    <td>
                        <button class="" type="submit" ng-click="vm.pfMethods.saveState()">
                            Update
                        </button>
                    </td>
                    <td>
                        <button class="" type="submit" ng-click="vm.pfMethods.deleteInvestment($index)">
                            Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="ticker" tabindex="1" type="text" ng-model="vm.state.newTicker">
                    </td>
                    <td>
                        <input name="value" tabindex="2" type="number" ng-model="vm.state.newTickerValue">
                    </td>
                    <td>
                        <select name="class" tabindex="3" ng-model="vm.state.newTickerType">
                            <option value="Stock">Stock</option>
                            <option value="Bond">Bond</option>
                        </select>
                    </td>
                    <td></td>
                    <td>
                        <button tabindex="4" type="submit" ng-click="vm.pfMethods.addInvestment(vm.state.newTicker, vm.state.newTickerValue, vm.state.newTickerType)">
                            Add
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <!-- Advise source of input data -->
        <alert-message message="{{vm.portfolioDataSource}}"></alert-message>

    </div>
</section>


<section>
    <div class="content-box">
        
        <p>Sum of asset class 'Stocks': {{ vm.pfMethods.sumInvestmentValue("Stock") | currency }}</p>
        
        <p>Sum of asset class 'Bonds': {{ vm.pfMethods.sumInvestmentValue("Bond") | currency }}</p>
        
        <p>Allocation Ratio: {{ (100 * vm.pfMethods.allocationRatio()) | number:1 }}% / {{ (100 * (1 - vm.pfMethods.allocationRatio())) | number:1 }}% (stocks / bonds)</p>

        
    </div>
    
    
</section>