html,
body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    background: #bebbb7;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

header,
.footer,
#main,
#inputs,
#outputs,
#goals,
#fv-calc,
#rate-calc,
#bottomNav {
    box-sizing: border-box;
}

.content-box {
    padding: .25em 1em;
    background: #FFF;
    border-left: 0.6em solid rgb(95, 158, 160);
}

header {
    position: fixed;
    width: 100%;
    height: 54px;
    margin: 0;
    padding: 0 1em;
    box-sizing: border-box;
    background: #0f0f0f;
    align-content: center;
}

header h1 {
    box-sizing: border-box;
    display: inline-block;
    font-style: italic;
    margin: 0;
    height: 100%;
    padding: 12px 0 0 14px;
    color: #999;
    font-size: 24px;
    font-weight: 500;
}

header h4 {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    height: 100%;
    padding: 20px 0.5em 0 0.5em;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    outline: 0;
}

header a {
    outline: 0;
    text-decoration: none;
}

#navText {
    display: none;
}

#navIcons {
    box-sizing: border-box;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    margin: 0 -14px 0 0;
}

#navIcons a {
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    height: 100%;
    padding: 15px 1em;
    color: #999;
    font-size: 22px;
}

header h4:hover,
#navIcons a:hover {
    border-bottom: 3px solid rgb(95, 158, 160);   
}

#navIcons a:active,
header h4:active {
    color: white;
}

#main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1200px;
    margin: 54px 0 0 0;
}

#inputs {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding: 1em 1em 1em 1em;
}

input {
    min-width: 4em;
}

p, ul, li {
    font-weight: normal;
    font-size: 15px;
    margin: .5em 0;
}

#outputs {
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0em 1em 0 1em;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

#inputs h4,
#outputs h4 {
    line-height: 1.1em;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    color: #404040;
    font-size: 18px;
    font-weight: 500;
}

.help-toggle {
    display: inline-block;
    line-height: 1.1em;
    width: 19px;
    border-radius: 2px;
    text-align: center;
    vertical-align: bottom;
    font-weight: normal;
    background-color: rgba(147, 128, 108, 0.1);
    border: 1px solid rgba(147, 128, 108, 0.25);
    color: #666666;
    cursor: pointer;
    margin-left: 0.25em;
}

.help {
    padding: 1em;
    margin: .25em 0 1em 0;
    ;
    background: #FFF;
    border: 1px solid rgba(190, 187, 183, 1);
    box-shadow: 0 0 5px rgba(190, 187, 183, 1);
}

#goals,
#fv-calc,
#rate-calc {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-bottom: 1em;
}

.footer {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 1.5rem 0;
    background: #404040;
    color: #999;
    font-size: 0.85em;
    text-align: center;
}

.footer-credit {
    display: inline-block;
    margin: 0 1em;
    vertical-align: middle;
}

.footer-social {
    display: inline-block;
    vertical-align: middle;
}

.footer a {
    color: #e5e5e5;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


/* Large Screens */

@media all and (min-width: 960px) {
    #goals,
    #fv-calc,
    #rate-calc {
        flex: 0 0 50%;
    }
    #goals {
        padding: 0 0.5em 1em 0;
    }
    #fv-calc {
        padding: 0 0.5em 1em;
    }
    #rate-calc {
        padding: 0 0 1em 0.5em;
    }
}

@media all and (min-width: 480px) {
    
    #main {
        margin: 60px 0 0 0;
    }
    
    header {
        height: 60px;
    }
    
    header h1 {
        font-size: 30px;
    }
    
    #navText {
        display: inline-block;
    }
    
    #navIcons {
        display: none;
    }
}