/* quick reset */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    background: #bebbb5;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

/* anti-iOS Safari / Webkit tweak */
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="date"],
input[type="number"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}

header,
header h1,
header h4,
article,
input,
footer,
hr,
#navIcons,
#navIcons a,
.content-box,
.container,
alert-message {
    box-sizing: border-box;
}

.content-box {
    padding: .25em 1em;
    background: #FFF;
    border-left: 0.6em solid rgb(95, 158, 160);
    width: 100%;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1em;
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    height: 54px;
    margin: 0;
    padding: 0;
    background: #000;
    z-index: 1; /* must be > 0 or Glyphicons show above header */
}

nav {
    height: 100%;
}

header h1,
header h4,
#navIcons a {
    display: inline-block;
    margin: 0;
    height: 100%;
    color: #999;
    font-weight: 500;
}

header h1 {
    font-style: italic;
    padding: 11px 0.5em 0 0.5em;
    font-size: 24px;    
}

/* 
 * icon nav links visible when > @media query below
*/
#navIcons {
    display: inline-block;
    height: 100%;
}

#navIcons a {
    text-decoration: none;
    padding: 15px .75em;
    font-size: 22px;
}

/* 
 * text nav links invisible when < @media query below
*/
#navText {
    display: none;
    height: 100%;
}

header h4 {
    padding: 19px 0.5em 0 0.5em;
    font-size: 17px;
}

header a {
    outline: 0;
    text-decoration: none;
}

header h4:hover,
header h1:hover,
#navIcons a:hover {
    border-bottom: 3px solid rgb(95, 158, 160);   
    cursor: pointer;
}

#navIcons a:active,
header h4:active,
header h1:active{
    color: white;
}

article {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.25em;
    width: 100%;
    
    /* push article beneath header */
    margin-top: 54px;
    
    /* limit main content width and center */
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    background-color:#eee;
    color:#eee;
    border-width:0;
    height:1px;
    line-height:0;
    page-break-after:always;
    width: 100%;
    margin-bottom: 1em;
}

/* styles for commute calc tables */
.cc-table {
    border-collapse: collapse;
    font-size: 10px;
    color: #404040;
    width: 100%;
}

.cc-table thead {
    border-bottom: 2px solid #404040;
}

.cc-table tbody tr:nth-child(odd) {
    background: #eee;
}

.cc-table td,
.cc-table th {
    text-align: left;
    padding: 0.5rem 0.25rem;
}

.cc-table th {
    vertical-align: bottom;
    padding: 0.25rem;
}
/* end styles for commute calc tables */

/* styles for portfolio tables */
.pf-table {
    border-collapse: collapse;
    font-size: 14px;
    color: #404040;
    width: 100%;
}

.pf-table thead {
    border-bottom: 2px solid #404040;
}

.pf-table tr {
    padding: 0;
    box-sizing: border-box;
}

.pf-table th {
    text-align: left;
    vertical-align: bottom;
    padding: 0.25rem 0.5rem;
}

.pf-table td {
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: 0;
    height: 2.75rem;
}

.pf-table td input {
    height: 100%;
    width: 100%;
    font-size: 14px;
    padding: 0 .5em; 
}

.pf-table td input:hover,
.pf-table td input:focus {
    background: rgba(95, 158, 160,.1);
}

.pf-table td select,
.pf-table td button {
    height: 80%;
    width: 90%;
    margin: 0 .5em;
    padding: .25em .5em;
    background-color: rgba(95, 158, 160,.1);
    border: 1px solid rgba(95, 158, 160,.7);
    font: inherit;
    font-weight: normal;
    border-radius: 2px;
    cursor: pointer;
}

.pf-table td button:hover {
    background-color: rgb(95, 158, 160);
    color: white;
}

.pf-table td.icon-button {
    text-align: center;
    padding: 0 0.5em;
    font-size: 17px;
}

.pf-table td.icon-button:focus,
.pf-table td.icon-button:hover {
    background: rgba(95, 158, 160,.1);
}

/* end styles for portfolio tables */

input {
    min-width: 1em;
}

p, ul, li {
    font-weight: normal;
    font-size: 15px;
}

p {
    margin: .5em 0;
}

alert-message {
    display: block;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    color: #666666;
    margin: .75em 0;
}

ul {
    margin: 0 1em 1em 1em;
}

pre {
    font-weight: normal;
    font-size: 12px;
}

section {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding: 0.5em;
}

h4 {
    display: inline-block;
    height: 1.1em;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    color: #404040;
    font-size: 18px;
    font-weight: 500;
}

a {
    color: inherit;
}

.content-box h1 {
    display: inline-block;
    margin: 0;
    padding: 0.25em 0;
    color: #404040;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.content-box h1:not(:first-child) {
    margin-left: 10px;
}

/* use with Glyphicon toggle */
.icon-button {
    cursor: pointer;
/*    color: #bebbb5;*/
}

.help {
    padding: 1em;
    margin: .25em 0 1em 0;
    background: #FFF;
    border: 1px solid rgba(190, 187, 183, 1);
    box-shadow: 0 0 5px rgba(190, 187, 183, 1);
}

footer {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 0.85em 0;
    background: #404040;
    color: #999;
    font-size: 0.85em;
    text-align: center;
}

.inputButton {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background-color: rgba(255, 178, 73, 0.35);
    color: black;
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: 0.5em 0.75em;
    font: inherit;
    font-weight: normal;
    border-radius: 2px;
    cursor: pointer;
}

.inputButton:hover {
    background-color: rgb(95, 158, 160);
    color: white;
}

.footer-credit {
    display: inline-block;
    margin: .25em;
    vertical-align: middle;
}

.footer-social {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 106px;
}

footer a {
    color: #e5e5e5;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/* Greater than 640x, show nav text & hide icons */
@media all and (min-width: 640px) {
    #navText {
        display: inline-block;
    }
    
    #navIcons {
        display: none;
    }
        
    .cc-table td {
        padding: 0.5rem;
    }
    
    .cc-table th {
        padding: 0.15rem 0.5rem;
    }
    
}

/* Tiny screens: narrow nav icon spacing & full width content */
@media all and (max-width: 360px) {
    
    .horiz-scroll {
        overflow-x: scroll;
    }
    
    .content-box {
        padding: .25em .5em;
    }

    #navIcons a {
        padding: 15px .5em;
    }
    
    article {
        padding: 0 0 0.5em 0;
    }
    
    section {
        padding: 0.5em 0 0 0;
    }
    
    .container {
        padding: 0;
    }
    
    footer p {
        font-size: 13px;
    }
    
    .cc-table th,
    .cc-table td {
        padding: 0.5rem 0.1rem;
    }
    
    .sm-col-hide {
        display: none;
        width: 0;
        visibility: collapse;
    }
}