/* quick reset */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    background: #bebbb5;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

/* anti-iOS Safari / Webkit tweak */
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="date"],
input[type="number"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}

header,
header h1,
header h4,
article,
input,
footer,
#navIcons,
#navIcons a,
.content-box,
.container {
    box-sizing: border-box;
}

.content-box {
    padding: .25em 1em;
    background: #FFF;
    border-left: 0.6em solid rgb(95, 158, 160);
    width: 100%;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1em;
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    height: 54px;
    margin: 0;
    padding: 0;
    background: #000;
    z-index: 1; /* must be > 0 or Glyphicons show above header */
}

nav {
    height: 100%;
}

header h1,
header h4,
#navIcons a {
    display: inline-block;
    margin: 0;
    height: 100%;
    color: #999;
    font-weight: 500;
}

header h1 {
    font-style: italic;
    padding: 11px 0.5em 0 0.5em;
    font-size: 24px;    
}

/* 
 * icon nav links visible when > @media query below
*/
#navIcons {
    display: inline-block;
    height: 100%;
}

#navIcons a {
    text-decoration: none;
    padding: 15px .75em;
    font-size: 22px;
}

/* 
 * text nav links invisible when < @media query below
*/
#navText {
    display: none;
    height: 100%;
}

header h4 {
    padding: 19px 0.5em 0 0.5em;
    font-size: 17px;
}

header a {
    outline: 0;
    text-decoration: none;
}

header h4:hover,
header h1:hover,
#navIcons a:hover {
    border-bottom: 3px solid rgb(95, 158, 160);   
    cursor: pointer;
}

#navIcons a:active,
header h4:active {
    color: white;
}

article {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.5em;
    width: 100%;
    
    /* push article beneath header */
    margin-top: 54px;
    
    /* limit main content width and center */
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    font-size: 10px;
    color: #404040;
    width: 100%;
}

thead {
    border-bottom: 2px solid #404040;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

td, th {
    text-align: left;
    padding: 0.25rem;
}

th {
    vertical-align: bottom;
    padding: 0.25rem 0.5rem;
}

input {
    min-width: 1em;
}

p, ul, li {
    font-weight: normal;
    font-size: 15px;
}

p {
    margin: .5em 0;
}

.notify {
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    color: #666666;
}

ul {
    margin: 0 1em 1em 1em;
}

pre {
    font-weight: normal;
    font-size: 12px;
}

section {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding: 0.5em;
}

h4 {
    display: inline-block;
    line-height: 1.1em;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    color: #404040;
    font-size: 18px;
    font-weight: 500;
}

.content-box h1 {
    display: inline-block;
    margin: 0;
    padding: 0.25em 0;
    color: #404040;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.content-box h1:not(:first-child) {
    margin-left: 10px;
}

/* use with Glyphicon toggle */
.icon-button {
    cursor: pointer;
/*    color: #bebbb5;*/
}

/* OLD METHOD: use with custom [?] button toggle */
/*
.icon-button {
    display: inline-block;
    line-height: 1.1em;
    width: 19px;
    border-radius: 2px;
    text-align: center;
    vertical-align: bottom;
    font-weight: normal;
    background-color: rgba(147, 128, 108, 0.1);
    border: 1px solid rgba(147, 128, 108, 0.25);
    color: #666666;
    cursor: pointer;
    margin-left: 0.25em;
}
*/

.help {
    padding: 1em;
    margin: .25em 0 1em 0;
    background: #FFF;
    border: 1px solid rgba(190, 187, 183, 1);
    box-shadow: 0 0 5px rgba(190, 187, 183, 1);
}

footer {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 0.85em 0;
    background: #404040;
    color: #999;
    font-size: 0.85em;
    text-align: center;
}

.inputButton {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background-color: rgba(255, 178, 73, 0.42);
    color: black;
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: 0.5em 0.75em;
    font: inherit;
    font-weight: normal;
    border-radius: 2px;
    cursor: pointer;
}

.footer-credit {
    display: inline-block;
    margin: .25em;
    vertical-align: middle;
}

.footer-social {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 106px;
}

footer a {
    color: #e5e5e5;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/* Greater than 640x, show nav text & hide icons */
@media all and (min-width: 640px) {
    #navText {
        display: inline-block;
    }
    
    #navIcons {
        display: none;
    }
    
    table {
        font-size: inherit;
    }
    
    td {
        padding: 0.5rem;
    }
    
}

/* Tiny screens: narrow nav icon spacing & full width content */
@media all and (max-width: 360px) {

    #navIcons a {
        padding: 15px .5em;
    }
    
    article,
    section{
        padding: 0.5em 0;
    }
    
    .container {
        padding: 0;
    }
    
    footer p {
        font-size: 13px;
    }
    
    th, td {
        padding: 0.1rem;
    }
}