<div class="container">
   <div class="Grid">
    <div class="Grid-cell">
        <h1>pfapp</h1>
    </div>

    <!-- shows when view < 480px -->
    <nav id="navIcons" class="Grid-cell Grid-cell--autoSize">
        <a href="#/"
           title="Financial Independence / Retire Early Calculator"
           aria-label="FIRE Calculator nav link">
            <span class="glyphicon glyphicon-fire"></span>
        </a>
        <a href="#/net-worth"
           title="Net Worth Tracker"
           aria-label="Net Worth Tracker nav link">
            <span class="glyphicon glyphicon-piggy-bank"></span>
        </a>
        <a href="#/portfolio"
           title="Portfolio Tracker"
           aria-label="Portfolio nav link">
            <span class="glyphicon glyphicon-folder-open"></span>
        </a>
    </nav>

    <!-- shows when view > 480px -->
    <nav id="navText" class="Grid-cell Grid-cell--autoSize">
        <a href="#/"
           title="Financial Independence / Retire Early Calculator"
           aria-label="FIRE Calculator nav link">
            <h4>FIRE Calculator</h4>
        </a>
        <a href="#/net-worth"
           title="Net Worth Tracker"
           aria-label="Net Worth Tracker nav link">
            <h4>Net Worth</h4>
        </a>
        <a href="#/portfolio"
           title="Portfolio Tracker"
           aria-label="Portfolio nav link">
            <h4>Portfolio</h4>
        </a>
    </nav>
</div>
</div>