<!-- section title -->
<section>
    <div class="content-box">
        <h1>Welcome to pfapp!</h1>

        <p><em>pfapp</em> (Personal Finance App) is a small collection of utilities for calculations related to personal finance.  <em>pfapp</em> currently consists of the following utilities:</p>
        
        <div class="help">
            <a href="#/fire-calc"><h4>FIRE Calculator</h4></a>
            <p>Calulations related to Financial Independence / Early Retirement.</p>
        </div>
        
        <div class="help">
            <a href="#/commute-calc"><h4>Commute Calculator</h4></a>
            <p>How much is your commute costing you?</p>
        </div>
        
        <div class="help">
            <a href="#/net-worth"><h4>Net Worth Tracker</h4></a>
            <p>Track your net workth over time. How does your actual net worth match the projections from the FIRE Calculator?</p>
        </div>
        
        <div class="help">
            <a href="#/portfolio"><h4>Portfolio</h4></a>
            <p>A (very) simple tracker, designed to calculate the aggregate returns of a collection of stock and bond mutual funds.  Also includes portfolio reallocation suggestion based on the target returns calculated in the FIRE Calculator.</p>
        </div>
        
    </div>
</section>
