<div class="" id="inputs">
    <div class="content-box">
        
        <div class="Grid">
            <div class="Grid-cell">
                <h4>NET WORTH TRACKER</h4>
            </div>
            <div>
                <h4><span title="Toggle help" class="help-toggle" ng-click="HelpToggle = !HelpToggle">?</span></h4>
            </div>
        </div>
        
        <div ng-if="HelpToggle" class="help">
            <p>A simple net worth tracker.</p>

            <ul>
                <li><em>Accounts</em> = Name of each account.</li>
                <li><em>Category</em> = The categories will sort themselves into assets and liabilities.</li>
            </ul>
        </div>
        
        <h2>Playing with HTML5 localStorage</h2>
        <p>Current value of localStorage: {{vm.napkin.latestData()}}</p>
        <div class="InputAddOn">
            <div class="InputAddOn-item">
                <span class="">New blah</span>
            </div>
            <div class="InputAddOn-field">
                <input type="text" ng-model="vm.napkin.value">
            </div>
            <div class="InputAddOn-item">
                <input type="button" value="Update" ng-click="vm.napkin.update(vm.napkin.value)">
            </div>
            <div class="InputAddOn-item">
                <input type="button" value="Push to Array" ng-click="vm.napkin.pushToArray(vm.napkin.value)">
            </div>
         
        </div>
          <ul>
              <li ng-repeat="n in vm.napkin.storageArray track by $index">{{ n }}</li>
          </ul>
           
    </div>
</div>