<section class="" id="inputs">
    <div class="content-box">
        
        <div class="Grid">
            <div class="Grid-cell">
                <h4>PORTFOLIO</h4>
            </div>
            <div>
                <h4><span title="Toggle help" class="help-toggle" ng-click="HelpToggle = !HelpToggle">?</span></h4>
            </div>
        </div>
        
        <div ng-if="HelpToggle" class="help">
            <p>Input your portfolio components.</p>

            <ul>
                <li><em>Ticker</em> = The letter abbreviation for the investment.</li>
                <li><em>Shares</em> = The qtu of shares of each investment you own.</li>
            </ul>
        </div>
        
    </div>
</section>